<div cdkDropListGroup>
    <div class="example-container">
      <h2>Pendência</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
      </div>
    </div>
    <div class="example-container">
      <h2>Fazendo</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="fazendo"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of fazendo" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="example-container">
      <h2>Pronto</h2>

      <div
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>

  <button mat-raised-button (click)="addTarefa()">
    ADD COISAS
  </button>